pkgbase = catkey-git
	pkgdesc = Free, open-source Vietnamese input method (Telex/VNI, EVKey-style UI)
	pkgver = r1.09ca870
	pkgrel = 1
	url = https://github.com/blackcatofficialytb/catkey
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = gcc
	makedepends = patchelf
	makedepends = python
	makedepends = python-pip
	makedepends = python-pyinstaller
	makedepends = nuitka
	makedepends = ccache
	options = !strip
	validpgpkeys = 3BCD0065B62DABC43F7BBC4243CAF18107EC56BB
	source = git+https://github.com/blackcatofficialytb/catkey.git
	sha256sums = SKIP

pkgname = catkey-git-pyinstaller
	pkgdesc = Free, open-source Vietnamese input method (Telex/VNI, EVKey-style UI) - PyInstaller build
	depends = python
	depends = python-pyside6
	depends = python-pynput
	depends = libx11
	depends = ncurses
	provides = catkey
	conflicts = catkey
	conflicts = catkey-git-nuitka

pkgname = catkey-git-nuitka
	pkgdesc = Free, open-source Vietnamese input method (Telex/VNI, EVKey-style UI) - Nuitka build
	depends = python
	depends = python-pyside6
	depends = python-pynput
	depends = libx11
	depends = ncurses
	provides = catkey
	conflicts = catkey
	conflicts = catkey-git-pyinstaller
